



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid black;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    .dotgothic16-regular {
        font-family: "DotGothic16", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    text-align:center;
      
  }
  
  .navbar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar nav ul li {
    margin-left: 20px;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  .navbar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .hero h2{
    font-family: DotGothic16;
    font-size: 120px;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:rgba(0, 0, 0, 1);
    .dotgothic16-regular {
        font-family: "DotGothic16", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      

  }
.hero img{
    width:auto;
    display:grid;
    width: Fill (1,344px)px;
    height: Hug (1,152px)px;
    justify-content:center;
    align-items: center;
    /* padding-left:440px; */
    border-radius: 56px;
    margin-left:262px;


}
.about
.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .project-grid {
    text-align: center;
  }
  
  .project-grid img {
    width: 100%;
  }
  .portfolio {
    text-align: center;
    padding: 20px;
}
  
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust column width as needed */
  gap: 20px; /* Spacing between grid items */
  grid-template-columns:repeat(3,auto);
}

.project-grid img{
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}
.hero .heroin{
  text-align:center;
  margin-bottom: 0;
}
.hero .text1{
  padding:150px 470px;
  font-size:0px;
  padding-bottom:50px;
  text-align: center;
  font-family: DotGothic16;
font-size: 48px;
font-weight: 400;
line-height: 52px;
letter-spacing: -0.01em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.about .text2out {
  text-align:center;
  margin-bottom:0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding:50px 50px;
}
.about .text2{
  padding:50px 150px;
  font-family: Archivo;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.005em;
  text-align: left;
  text-underline-position: from-font;text-decoration-skip-ink: none;
}